@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Roboto+Slab&family=Orbitron:wght@500&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap'); */

html {
    font-family: 'Roboto Slab', serif;
    background-color: aquamarine;
    margin-top: 50px;
    margin-bottom: 50px;
}

body {
    display: flex;
    align-content: center;
    justify-content: center;
    font-weight: 500;
}

#calculatorBody {
    flex: none;
    background-color: #161f30;
    height: 600px;
    width: 450px;
    border: 20px;
    border-radius: 20px;
}

h1 {
    text-align: center;
    font-family: 'Bruno Ace', 'cursive';
    color: white;
    /* margin-top: 0px ;
    margin-bottom: 10px; */
    padding: 20px;
}

#displayContainer {
    background-color: #859f72;
    width: 80%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    border-radius: 10px;
    position: relative;
    align-items: flex-end;
    justify-content: end;
}

#display {
    width: 100%;
    max-height: 100px;
    font-family: Orbitron;
    font-size: 50px;
    text-align: right;
    overflow-wrap: break-word;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-color: #859f72;
}

#keyContainer {
    margin: 5% 10% 0 10%;
    display: grid;
    grid-template-columns: repeat(4, 90px);
    column-gap: 2px;
    row-gap: 1px;
}

button {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 85px;
    height: 50px;
    border-radius: 10px;
    color: white;
    margin: 3px;

}

button:active {
    animation: press 0.2s 1 linear;
}

.number {
    background-color: #212635;
}

.operator,
.equals {
    background-color: #f69906;
}

#clear {
    background-color: gainsboro;
    color: black;
}

#backspace {
    background-color: gainsboro;
    color: black;
    font-size: medium;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #859f72;
    margin-block: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #859f72;
}

@keyframes press {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.92);
    }

    to {
        transform: scale(1);
    }
}